.addtask{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 60;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.642);
    backdrop-filter: blur(15px);
}

.addtask > form{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 11px;
}

.addtask> form > h2{
    color: white;
    border-color: white;
    text-shadow: 1px 1px black;
    transform: translateY(60px);
}
.addtask > form > p{
    color: white;
    text-shadow: 1px 1px black;
    transform: translateY(45px);
}

.addtask > form > textarea{
    all: unset;
    resize: none;
    width: clamp(350px, 80vw, 500px);
    height: clamp(140px, 30vh, 300px);
    border: 1px solid black;
    border-radius: 7px;
    background-color: aliceblue;
    padding: 5px;
    color: black;
    overflow: auto;
    scrollbar-width: none;
}

/* Shortcut keys indicators */
.addtask > span{ 
    position: fixed;
    right: 10px;
    top: 10px;
    opacity: 1;

    & > p{
        margin-bottom: 5px;
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 10px;
        padding: 8px 14px;
        color: white;
        opacity: 0.8;
        font-size: 0.9rem;
        box-shadow: 1.2px 1.2px 2px rgba(0, 0, 0, 0.393);

        &:hover{
            background-color: rgb(63, 63, 63);
        }
    }
}

.addtask textarea::-webkit-scrollbar {
    display: none;
}

.addtask select{
    width: 40%;
    padding-inline: 10px;
    border-radius: 10px;
    height: 30px;
    border: 0.1px solid black;
}

.addtask > form > select:focus,
.addtask > form > textarea:focus,
.addtask > form > button:nth-of-type(2):focus{
    outline: 1.3px solid white;
    outline-offset: 1.3px;
    border: 0.1px solid rgb(0, 0, 0);
}

.addtask div{
    min-width: 50%;
    background-color: white;
    border-radius: 10px;
    color: black;
    padding: 6px 10px;
    border: 0.1px solid black;
}

.addtask button:nth-of-type(1){
    all: unset;
    border-radius: 100px;
    align-self: end;
    display: inline-block;
    padding: 4px 9.5px;
    background-color: crimson;
    border: 1px solid rgb(152, 0, 0);
    margin-bottom: 5px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: bold;
    font-family: sans-serif;
    &:hover{
        transform: scale(0.95);
        background-color: rgb(201, 3, 43);
    }
    &:active{
        transform: scale(0.85);
    }
    &:focus-visible{
        outline: 1.3px solid white;
        outline-offset: 1.3px;
    }
}

.addtask button:nth-of-type(2){
    all: unset;
    width: 100%;
    text-align: center;
    padding: 7px 0;
    border-radius: 90px;
    border: 1px solid grey;
    color: white;
    background-color: black;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
.addtask textarea:placeholder-shown ~ button:nth-of-type(2):active{
    transform: scaleX(0.95);
    outline: none;
    color: crimson;
    border: 1px solid crimson;
}
.addtask textarea:not(:placeholder-shown) ~ button:nth-of-type(2):active{
    transform: scaleX(0.95);
    outline: none;
    border: 1px solid #059305c3;
    color: #059305c3;
}


/* media queries */
@media (min-width: 1850px){
    .addtask form{
        gap: 20px;
        font-size: 1.4rem;
    }

    .addtask textarea{
        width: clamp(350px, 80vw, 800px);
        height: clamp(140px, 70vh, 380px);
        border: 2px solid black;
        border-radius: 14px;
        padding: 10px;
    }
    
    .addtask select{
        padding-inline: 15px;
        border-radius: 12px;
        height: 54px;
        border: 1px solid black;
    }
    
    .addtask div{
        min-width: 50%;
        border-radius: 12px;
        padding: 10px 15px;
        font-size: 1.4rem;
        border: 0.1px solid black;
    }
    
    .addtask button:nth-of-type(1){
        padding: 4px 12px;
        border: 2pxpx solid rgb(70, 70, 70);
        font-size: 1.7rem;
    }
    
    .addtask button:nth-of-type(2){
        padding-block: 13px;
    }

    .addtask> form > h2{
        transform: translateY(60px);
    }
    .addtask > form > p{
        font-size: 1.4rem;
        transform: translateY(45px);
    }
}